= simple_form_for [@course,@sylabus], :html => { :class => 'form-horizontal' } do |f|
  = f.hidden_field :course_id, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),course_sylabuses_path, :class => 'btn'
